@{ViewData["Title"] = "Matrix";
}

@model List<Forum>

<!--this styling makes the side of the quadrant have wording that goes vertical -->
<style>
    .sideways {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotateZ(180deg);
    }
</style>
<div class="container"><!--Beautiful grid system-->
    <div class="row">
        <div class="col-1 border bg-light justify-content-center">
        </div>
        <div class="col-5 border bg-light justify-content-md-center">
            <h1>Urgent</h1><!--Makes vertical titles for side of the grid-->

        </div>
        <div class="col-5 border bg-light justify-content-md-center">
            <h1>Not Urgent</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-1 border bg-light justify-content-center sideways pt-2 pb-2">
            <h3>Important</h3>
        </div>

        
        <div class="col-5 border bg-light justify-content-center">
            <h3>Quadrant 1</h3>
            <br /><!--this loop makes a new task for every associated task in the form-->
            @foreach (var x in Model)
            {
                if (x.Quadrant == "1")
                {
                    <p>
                        @x.Task &nbsp; @x.DueDate &nbsp;
                        <a a asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Update</a>
                        &nbsp;
                        <a a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                    </p>
                }
            }
        </div>
        <div class="col-5 border bg-light justify-content-lg-center">
            <h3>Quadrant 2</h3>
            <br />
                @foreach (var x in Model)
                {
                    if(x.Quadrant == "2")
                    {
                        <p>
                            @x.Task &nbsp; @x.DueDate &nbsp;
                            <a a asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Update</a>
                            &nbsp;
                            <a a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                        </p>
                    }
                }
        </div>
    </div>


    <div class="row">
        <div class="col-1 border bg-light justify-content-center sideways pt-2 pb-2">
            <h3>Not Important</h3>
        </div>
        <div class="col-5 border bg-light justify-content-md-center">
            <h3>Quadrant 3</h3>

            <br />
            @foreach (var x in Model)
            {
                if (x.Quadrant == "3")
                {
                    <p>
                        @x.Task &nbsp; @x.DueDate &nbsp;
                        <a a asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Update</a>
                        &nbsp;
                        <a a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                    </p>
                }
            }
        </div>
        <div class="col-5 border bg-light justify-content-md-center">
            <h3>Quadrant 4</h3>

            <br />
            @foreach (var x in Model)
            {
                if (x.Quadrant == "4")
                {
                    <p>
                        @x.Task &nbsp; @x.DueDate &nbsp;
                        <a a asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Update</a>
                        &nbsp;
                        <a a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                    </p>
                }
            }

        </div>
    </div>
</div>
