@{
    @model List<Forum>
}
<style>
    .sideways {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotateZ(180deg);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-1 border bg-light justify-content-center">
        </div>
        <div class="col-5 border bg-light justify-content-md-center">
            <h1>Urgent</h1>

        </div>
        <div class="col-5 border bg-light justify-content-md-center">
            <h1>Not Urgent</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-1 border bg-light justify-content-center sideways">
            <h3>Important</h3>
        </div>

        
        <div class="col-5 border bg-light justify-content-center">
            <h3>Quadrant 1</h3>
            <br />
            @foreach (var x in Model)
            {
                <p>
                    @x.Task &nbsp; @x.DueDate &nbsp;
                    <a a asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Update</a>
                    &nbsp;
                    <a a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
                </p>
            }
        </div>
        <div class="col-5 border bg-light justify-content-lg-center">
            <h3>Quadrant 2</h3>

            <br />
            <p>
                @foreach (var x in Model)
                {
            <p>
                @x.Task &nbsp; @x.DueDate &nbsp;
                <a a asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Update</a>
                &nbsp;
                <a a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
            </p>
                }
        </div>
    </div>


    <div class="row">
        <div class="col-1 border bg-light justify-content-center sideways">
            <h3>Not Important</h3>
        </div>
        <div class="col-5 border bg-light justify-content-md-center">
            <h3>Quadrant 3</h3>

            <br />
            @foreach (var x in Model)
            {
        <p>
            @x.Task &nbsp; @x.DueDate &nbsp;
            <a a asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Update</a>
            &nbsp;
            <a a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
        </p>
            }

        </div>
        <div class="col-5 border bg-light justify-content-md-center">
            <h3>Quadrant 4</h3>

            <br />
            @foreach (var x in Model)
            {
        <p>
            @x.Task &nbsp; @x.DueDate &nbsp;
            <a a asp-controller="Home" asp-action="Update" asp-route-taskid="@x.TaskId">Update</a>
            &nbsp;
            <a a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a>
        </p>
            }

        </div>
    </div>
</div>




@*<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent</td>
            <td>Notes</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Category.CategoryName</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.Lent</td>
                <td>@x.Notes</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>-->*@